@{
    ViewBag.Title = "Contact";
}
<h2 style="color: gold;">@ViewBag.Title.</h2>
@*<h3 style="color: gold;">@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="color: azure;">
        <address>
            Gundam Story<br />
            130 Henlow Bay<br />
            Winnipeg MB R3Y 1G4<br />
            <abbr title="Phone">P:</abbr>
            (204)989-6500
        </address>

        <address>
            <strong>Support:</strong>   <a style="color:gold;" href="mailto:Support@example.com">Support@example.com</a><br />
        </address>
    </div>
</div>
